<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>The user  <%= @user.name %> has signed up. Please login and approve his joining request.</h1>
  </body>
</html>