<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations, <%= @user.name %>!</h1>
    <p>Your application has been approved. Please login and apply for projects you are interested.</p>
  </body>
</html>