<h1>Activities</h1>
<% @activities.each do |activity| %>
	<% if activity.owner.is_admin != 1 %> 
	<p class="alert alert-success">
	<%= link_to activity.owner.username,controller: "sessions", action: "profile", id: activity.owner.id if activity.owner %> applied to 
	<%= link_to activity.trackable.project_name , activity.trackable if activity.trackable %>
	</p>
	<% end %>
<% end %>
<h1>New User Signups</h1>
<% @users.each do |u| %>
<p class="alert alert-info">
<%= link_to u.username,controller: "sessions", action: "profile", id: u.id if u %> signed up.

<%= link_to "Validate",{controller: "users", action: "enable", id: u.id },:class=>"btn btn-primary" if u%> 
</p>
<% end %>